@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-base: 1rem;
    outline-color: rgba(128, 0, 128, 0.3);
    transition-duration: 0.1s;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: black;
}

i {
    margin-top: 0.25rem;
}

section {
    padding: 1rem 5vw;
}

@media (min-width: 768px) {
    section {
        padding: 1rem 7vw;
    }
}

@media (min-width: 1024px) {
    section {
        padding: 1rem 10vw;
    }
}

::selection {
    background-color: rgba(128, 0, 128, 0.3);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 1.25rem 5vw;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}

.h-cover {
    min-height: calc(100vh - 80px);
}

.center {
    display: block;
    margin: 0 auto;
}

.btn-dark {
    white-space: nowrap;
    background-color: black;
    color: white;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-light {
    white-space: nowrap;
    background-color: #cccccc;
    color: black;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.btn-light:hover {
    background-color: rgba(204, 204, 204, 0.8);
}

.input-box {
    width: 100%;
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    padding-left: 3rem;
}

.input-box:focus {
    background-color: transparent;
}

.input-box::placeholder {
    color: black;
}

input:disabled,
input:disabled ~ .input-icon {
    opacity: 0.5;
}

.input-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.link {
    color: #666666;
    padding: 0.75rem 1rem;
    display: block;
    opacity: 0.75;
}

.link:hover {
    color: black;
    background-color: #cccccc;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.1s;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.25rem 0;
    color: #666666;
}

.sidebar-link:hover {
    color: black;
}

.sidebar-link.active {
    color: black;
    border-right: 2px solid black;
    padding-left: 1.5rem;
    background-color: rgba(204, 204, 204, 0.5);
    margin-left: -1.5rem;
}

@media (max-width: 767px) {
    .sidebar-link.active {
        border-right: none;
        padding-left: 0;
        margin-left: 0;
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-link.active {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
}

#textEditor h2,
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: bold;
}

@media (max-width: 767px) {
    #textEditor h2,
    h2 {
        font-size: 1.875rem;
        line-height: 1.375;
    }
}

#textEditor h3,
h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.875rem;
    line-height: 1.625;
}

@media (max-width: 767px) {
    #textEditor h3,
    h3 {
        font-size: 1.5rem;
        line-height: 1.375;
    }
}

#textEditor *,
.blog-page-content * {
    font-family: 'Gelasio', serif;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

@media (min-width: 768px) {
    #textEditor *,
    .blog-page-content * {
        font-size: 1.5rem;
    }
}

#textEditor a,
.blog-page-content a {
    color: purple;
    text-decoration: underline;
}

#textEditor a:hover,
.blog-page-content a:hover {
    opacity: 0.5;
}

.tag {
    padding: 0.75rem;
    background-color: #cccccc;
    border-radius: 9999px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: capitalize;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 640px) {
    .blog-title {
        -webkit-line-clamp: 2;
    }
}

.blog-index {
    font-size: 2.25rem;
    font-weight: bold;
    color: #cccccc;
    line-height: 1;
}

@media (min-width: 640px) {
    .blog-index {
        font-size: 1.875rem;
    }
}

@media (min-width: 1024px) {
    .blog-index {
        font-size: 3rem;
    }
}

.ce-block__content,
.ce-toolbar__content {
    max-width: 900px;
}

.cdx-settings-button[data-tune='withBorder'],
.cdx-settings-button[data-tune='withBackground'],
.cdx-settings-button[data-tune='stretched'] {
    display: none;
}